.gallery__options .input-field {
    width: 40%;
}

.gallery__options {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery__wrapper {
    flex: 1 0 auto;
}