input {
    width: unset;
}

.input-field {
    position: relative;
}

.input-error {
    position: absolute;
    font-size: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 95%;
    font-weight: bold;
    color: #b71c1c;
}
