.modal__wrapper {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
}

.modal__form {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
}

.modal__form .input-field:last-child {
    margin-top: 30px;
}

.confirm-content {
    background: rgb(255,255,255);
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dddddd;
}

.confirm-content p {
    max-width: 90%;
    margin: 10px;
}

.confirm-btn-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}